:root{
    --primary-color: #ee4d2d;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333
}

*{
    box-sizing: inherit;
    /* thể con kế thừa thẻ cha */
}

html{
    font-size: 62.5%;
    line-height: 16px;
    box-sizing: border-box;
}

.gird{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.gird__full-width{
    width: 100%;
}

.gird__row{
    display: flex;
    flex-wrap: wrap;
}

/* animation */
@keyframes down{
    from{
        opacity: 0.4;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}